:global{
    .lz-layout-context-tools{
        position: absolute;
        z-index: 4000;
    }

    .lz-context-tool{
        position: absolute;
    }

    .lz-layout-handle-block.normal-block{
        z-index: 4001;
    }

    .lz-layout-handle-block.active-block{
        z-index: 4002;
    }
}